<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

    <!-- Main -->
    <section class="main">
        <div class="banner">
            <div class="ghost"></div>
            <p class="title">SI TE VAS A GORREAR.
                GORREATE BIEN.</p>
            <div class="squares">
                <a href="/producto">
                    <div class="square">GORRAS</div>
                </a>
                <a href="/producto">
                    <div class="square">SOMBREROS</div>
                </a>
            </div>
        </div>

        <div class="frame2">
            <p class="title--2">Nuestros Favoritos</p>
            <div class="select">
                <p class="favs active">GORRAS</p>
                <p class="favs">SOMBREROS</p>
                <p class="favs">OTROS</p>
            </div>

            <hr class="favs--line">

            <div class="setOfCards">
                <div class="card">
                    <img src="/img/gorra-1.jpg" alt="">
                    <p class="card--title">Gorra | Dad Hat Lyon</p>
                    <hr class="card--line">
                    <p class="card--description">Gorra sin estructura de visera semi curva, color lavado con bordado en el frente</p>
                    <div class="card--btn">AGREGAR AL CARRITO</div>
                </div>
                <div class="card hidden">
                    <img src="/img/gorra-blanca.jpg" alt="">
                    <p class="card--title">Gorra | All-White Custom</p>
                    <hr class="card--line">
                    <p class="card--description">Gorra plana, 100% blanco. Personalizable.
                    </p>
                    <div class="card--btn">AGREGAR AL CARRITO</div>
                </div>
                <div class="card hidden">
                    <img src="/img/gorra-culture.jpg" alt="">
                    <p class="card--title">Gorra | Just Culture</p>
                    <hr class="card--line">
                    <p class="card--description">Gorra plana color mostaza, edición limitada "Just Culture".</p>
                    <div class="card--btn">AGREGAR AL CARRITO</div>
                </div>
            </div>


        </div>

        <div class="frame3">
            <img src="/img/gorra-home.jpg" alt="">
        </div>

        <div class="frame4">
            <p class="title--2">Gorras personalizadas. Parches personalizados.</p>
            <p class="subtitle">Diseña tu gorra, sombrero o piluso con el diseño que vos quieras. 100% personalizado y único. Elegi un bordado o parche personalizado.</p>
            <div class="squares--black">
                <div class="square--black">BORDADOS</div>
                <div class="square--black">PARCHES</div>
            </div>
        </div>

        <div class="frame5">
            <p class="title--3">Stories</p>
            <div class="setOfCards">
                <div class="card">
                    <img src="/img/skater-home.jpg" alt="">
                    <p class="card--title">Kyle:</p>
                    <hr class="card--line">
                    <p class="card--description">Su vida gira sobre ruedas pero sin Gorrafy no sería posible.</p>
                    <div class="card--btn">CONOCE MÁS</div>
                </div>
                <div class="card hidden">
                    <img src="/img/skater-home.jpg" alt="">
                    <p class="card--title">Kyle:</p>
                    <hr class="card--line">
                    <p class="card--description">Su vida gira sobre ruedas pero sin Gorrafy no sería posible.</p>
                    <div class="card--btn">CONOCE MÁS</div>
                </div>
                <div class="card hidden">
                    <img src="/img/skater-home.jpg" alt="">
                    <p class="card--title">Kyle:</p>
                    <hr class="card--line">
                    <p class="card--description">Su vida gira sobre ruedas pero sin Gorrafy no sería posible.</p>
                    <div class="card--btn">CONOCE MÁS</div>
                </div>
            </div>
        </div>

        <div class="frame6">
            <p class="title--2">¿Quieres recibir novedades?</p>
            <p class="subtitle">Unete a nuestra lista de email y se el primero en enterarte de los productos de edición limitada, las nuevas incorporaciones y otras actualizaciones.</p>
            <form action="/" class="novedades">
                <label for="mail"></label>
                <input type="email" name="mail" id="mail" placeholder="Ingresa Tu Dirección de Email">
                <button>INGRESA</button>
            </form>
            <p class="copyright">Note: You can opt-out at any time. See our Privacy Policy and Terms.</p>
        </div>

    </section>

    <!-- Footer -->

    <%- include('./partials/footer.ejs') %>