<header>
    <!-- NAVBAR -->
    <nav class="nav">
        <div class="menu-toggle">
            <i class="fas fa-bars"></i> 
            <i class="fas fa-times"></i>
        </div>
        <ul class="nav-list">
            <li class="nav-item">
                <a href="/producto" class="nav-link">Productos</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Novedades</a>
            </li>
            <a id="logo" href="/">
                <h2>Gorrafy</h2>
            </a>
            <li class="nav-item">
                <a href="#" class="nav-link">¿Quienes Somos?</a>
            </li>
            <div class="iconos">
                <li><a href="/admin"><i class="fas fa-users-cog"></i></a></li>
                <li><a href="/login"><i class="icon--navbar far fa-user"></i></a></li>
                <li><a href="#"><i class="icon--navbar far fa-question-circle"></i></a></li>
                <li><a href="/compra"><i class="icon--navbar fas fa-shopping-cart"></i></a></li>
            </div>
        </ul>
    </nav>
</header>
